<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">This is the new JavaScript Fundamentals Student Website</p>
            <hr class="my-4">
            <p>We'll work on developing this website as a class. This whole website is open source. That means that you can see all the code behind it and make changes to it.</p>
            <p class="lead">
                <a class="btn btn-primary" href="https://github.com/imcgonigle/js-class" target="_blank" role="button">Learn more</a>
            </p>
          </div>
      </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{title}}</h1>
            <p>Welcome to {{title}}</p>
        </div>
    </div>
</div>
