<nav class="pl-md-5 navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><span class="text-accent">JS Fun</span> Class</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/students">Students <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 mx-auto">
            <h1>Students</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">2</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">3</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">4</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">5</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">6</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">7</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">8</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">9</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">10</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">11</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">12</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">13</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">14</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">15</h2>
            <hr class="ml-5 mr-5">
        </div>
        <div class="col-md-4 student">
            <img class="rounded-circle avatar" src="images/user.png" alt="User Avatar">
            <h2 class="mt-3">16</h2>
            <hr class="ml-5 mr-5">
        </div>
    </div>
</div>
